<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /html/views/</title>
</head>
<body>
<h1>Directory listing for /html/views/</h1>
<hr>
<ul>
<li><a href="404.php">404.php</a></li>
<li><a href="access.php">access.php</a></li>
<li><a href="changelog.php">changelog.php</a></li>
<li><a href="header.php">header.php</a></li>
<li><a href="home.php">home.php</a></li>
<li><a href="index.php">index.php</a></li>
<li><a href="invite.php">invite.php</a></li>
<li><a href="login.php">login.php</a></li>
<li><a href="logout.php">logout.php</a></li>
<li><a href="navigation.php">navigation.php</a></li>
<li><a href="register.php">register.php</a></li>
<li><a href="rules.php">rules.php</a></li>
<li><a href="usermodal.php">usermodal.php</a></li>
</ul>
<hr>
</body>
</html>
